<%= form_for(day) do |f| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.text_field :day, value: getDay() %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.text_field :month, value: getMonth() %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year, value: getYear() %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
