<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @activity.cost %>
</p>

<p>
  <strong>Details:</strong>
  <%= @activity.details %>
</p>

<p>
  <strong>Time spent:</strong>
  <%= @activity.time_spent %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
